// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: lighten(navy, 40%);
    color: white;
    font-size: 18px;
    width: 85%;
    margin: 0 auto !important;
}

a {
    color: white !important;
}

.version {
    color: darken(yellow, 0%);
}
